@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --primary-color: rgb(2, 9, 17);
}

@mixin textFont($f: 20px) {
    font-size: $f;
    font-family: "Roboto", sans-serif;
    margin: 0;
    color: white;
}
@mixin primaryBtn {
    border: 1px solid white;
    border-radius: 12px;
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 30px;
    padding: 0 32px; 
    @include textFont(14px);
    
}

@mixin container {
    max-width: 1000px;
    margin: 0 auto;
    
}